<div class="form-container1">
<h1>ログイン</h1>
  <%= form_with(url: sessions_path, local: true, method: :post) do |f| %>
      <%= f.email_field :email, class: "form-field", placeholder: "学校用メールアドレス" %>
      <%= f.password_field :password_digest, class: "form-field", placeholder: "パスワード" %>
    <%= f.submit "ログイン", class: "submit-button" %>
  <% end %>
  <div id="error-messages" style="display: none;"></div>
</div>