<div class="main-title">
    <h2>プロフィール</h2>
 
    <p><strong>メールアドレス:</strong> <%= @user.email %></p>
  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
  
  </div>
  
  <!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  
  <body>
    
    <div id="fixed-footer-menu">
      <ul>
        <li><a href="./"><i class="fa-solid fa-house footer-icon"></i><br>
          </a></li>
        <li><a href="./"><i class="fa-solid fa-magnifying-glass footer-icon"></i><br>
          </a></li>
        <li><a href="./"><i class="fa-solid fa-square-plus footer-icon"></i><br>
          </a></li>
        <li><a href="./"><i class="fa-solid fa-bell footer-icon"></i><br>
          </a></li>
        <li><a href="./"><i class="fa-solid fa-circle-user footer-icon1"></i><br>
          </a></li>
      </ul>
    </div>
  </body>
  </html>