<div class="form-container">

  <div class="img">
  <%= image_tag "cachedImage.PNG", class: "img" %><br> 
  </div>
 
  <div class="p">
  <p>大学生は ”やりたい” がたくさんある</p>
 </div>
   <div class="actions">
    <% if session[:user_id].nil? %>
     <%= submit_tag "ログイン", new_sessions_path, method: :get, class: "submit-button1 font-bold" %>
     <% else %>
     <%= button_tag "ログアウト", destroy_sessions_path,method: :delete,class: "submit-button2 font-bold" %>
   </div>
 </div>