<div class="form-container">

 <div class="parent">
 <%= image_tag "cachedImage.PNG", class: "parent .img" %><br> 
 </div>

 <div class="p">
 <p>大学生は ”やりたい” がたくさんある</p>
</div>

  <div class="actions">
    <%= submit_tag "アカウント作成", class: "submit-button1 font-bold", onclick: "window.location.href='http://localhost:3000'" %>
    <%= button_tag "ログイン" , class: "submit-button2 font-bold", onclick: "window.location.href='http://localhost:3000/sessions/new'" %>
  </div>

  <div class="link-to">
  <%= link_to "登録せずに利用してみる", "http://localhost:3000" %>
</div>
