body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  small {
    color: gray;
  }
  
  h1 {
    color: #343a40;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
  }

  h2 {
    color: #343a40;
    text-align: center;
    text-decoration: none;
    padding: 40px 0;
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: oblique;
    font-family: "MS Pゴシック";
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0 30%;
    margin-top: 30px;
  }
  
  ul li {
    background-color: #fff;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  ul li h2 {
    margin: 0 0 10px 0;
    color: #495057;
  }
  
  ul li p {
    color: #212529;
    margin: 0;
  }
  
  .button-container {
    text-align: center;
  }

  .button-container1 {
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    margin-left: 500px;
    
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
  }

  .form-container1{
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    width: 800px;
    height: 600px;
    font-size: 15px;
  }
  
  .form-input {
    margin-bottom: 20px;
    width: 100%;
  }

  .form-input1 {
    margin-bottom: 20px;
    color:rgb(80, 77, 77);
  }
  
  .form-input input,
  .form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .form-field {
    width: 20%;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 2px rgb(207, 205, 205));
    margin: 10px auto;
    margin-block-end: 20px;
    margin-top: 40px;
  }

  .font-bold {
    font-weight: bold;
    font-size: 15px;
  }

  .font-bold1 {
    color: rgba(112, 107, 107, 0.965);
    
  }

  .submit-button {
    display: inline-block;
    background-color:white;
    color: #7BC3B2;
    border: 1px solid rgba(210, 207, 207, 0.848);
    filter: drop-shadow(3px 3px 3px rgb(153, 152, 152));
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    width: 200px;
  }

  .submit-button1 {
    display: inline-block;
    background-color:white;
    color: #7BC3B2;
    border: 1px solid rgba(210, 207, 207, 0.848);
    filter: drop-shadow(3px 3px 3px rgb(153, 152, 152));
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    width: 250px;
  }

  .submit-button2 {
    display: inline-block;
    background-color:rgb(246, 244, 244);
    color: #242525;
    border: 1px solid rgba(210, 207, 207, 0.848);
    filter: drop-shadow(3px 3px 3px rgb(153, 152, 152));
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    width: 250px;
  }
  
  .link-button {
    display: inline-block;
    background-color: #007bffd1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .link-delete-button {
    display: inline-block;
    background-color: #1fcc44c8;
    font-size: 17px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid;
    cursor: pointer;
  }

  .link-to{
    margin-top: 70px;
    color: #343a40;
  }
  
  .edit-delete-wrapper {
    display: flex;
    margin-top: 10px;
  }

  .actions {
    text-align: center;
  }

  .layout {
    background-color: #fff;
  }

/* ------------------ */
/* 全体 */
/* ------------------ */
/* footer用にレイアウト調整 */

.main-title{
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

/*フッターアイコン */

#fixed-footer-menu {
  position: fixed;
  width: 100%;
  bottom: 10px;
  opacity: 1;
  z-index: 100;
}

/* メニューを横並びにする */
#fixed-footer-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #fff;
}

/* メニューの要素 */
#fixed-footer-menu li {
  justify-content: center;
  align-items: center;
  width: 20%; /* 要素が5つの場合（100/5） */
  padding: 0;
  margin: 0;
  border-width: 0;
  border-top: solid #b6b3b3;

}

/* メニューのボタン */
#fixed-footer-menu li a {
  color: #b6b3b3;
  text-align: center;
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 10px 0px 0px 0px;
  font-size: 8px;
  text-decoration: none;
}

/* アイコンのサイズを調整 */
.footer-icon {
  font-size: 35px;
  color: #b6b3b3;
}

.footer-icon1 {
  font-size: 35px;
  color:#7BC3B2;
}

.devise-position{
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}